@use "./variables.scss" as *;

// put your custom CSS here!
// Targets Obsidian-style alt tags like ![[image.png|center]]
img[alt*="center"] {
    display: block;
    margin: 0 auto;
}
.page-title {
    a {
        font-size: 0 !important;
        color: transparent !important;

        display: block;

        width: 200px;
        height: 100px;

        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;

        &:hover {
            text-decoration: none;
        }
    }
    // Mobile and smaller screens adjustment
    @media (max-width: 600px) {
        width: 120px;   // Shrink width for mobile
        height: 60px;   // Shrink height for mobile
    }
}
html[saved-theme="dark"] .page-title a {
    background-image: url("/static/temali-dark.svg");
}

html[saved-theme="light"] .page-title a {
    background-image: url("/static/temali-light.svg");
}
